body {
  margin-top: 70px;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins';
}

p {
  font-family: 'Roboto';
}

.navbar-default {
  background: #FFFFFF;
  border: 0;
  font-family: 'Poppins';
}

.navbar-brand {
  font-size: 20px;
  color: #000000 !important;
  font-weight: bold;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  width: 90%;
  margin-left: 50px;
}

#showcase .showcase-right {
  margin-top: 90px;
}

#showcase .btn {
  margin-bottom: 50px;
}

#testimonial {
  background: #F1F1F1;
  text-align: center;
  padding: 50px 0 30px 0;
  margin-top: 50px;
}

#testimonial p {
  font-size: 32px;
  font-family: 'Josefin Sans';
  color: #000000;
}

#testimonial p.customer {
  font-size: 21px;
  color: #666666;
}

#info img {
  width: 90%;
  margin-left: 50px;
}

#info .info-right {
  margin-top: 90px;
  margin-bottom: 90px;
}

#info1 {
 background: #F1F1F1;
}

#info1 .info-right {
  margin-top: 50px;
  margin-bottom: 50px;
}

#info1 .info-left {
  margin-top: 50px;
  margin-bottom:50px;
}

#contact {
  background: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffiles.vividscreen.info%2Fsoft%2Fb02a6dbdc5a590704b964297c75a2ef1%2FSamsung-Galaxy-Alpha-1920x1200.jpg&f=1");
  padding: 40px;
  color: #FFFFFF;
  border-top: #333333 7px solid;
  border-bottom: #333333 7px solid;
  margin-bottom: 50px;
}
